/*cartas*/
.padre {
    display: grid;
    gap: 1rem;
    padding: 50px 25px;
    align-content: center;
    background-color: #ffbbb7;
    grid-template-columns: repeat(4, 1fr);
}

.cards {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
    transition: all 2s;
}

.cards:hover {
    height: 400px;
    width: 400px;
}



/*contacto y shop*/

.media {
    padding: 30px 0px;
    border-top: 5px solid black;
    display: flex;
    justify-content: center;
    background-color: #f17c8a;
}

.media img {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin: 15px 150px;
}

.media img:hover {
    transform: scale(2, 2);
}

.media h2 {
    font-size: 20px;
}

.media p {
    font-size: 14px;
}


