/*cartas*/
.padre {
    display: grid;
    gap: 1rem;
    padding: 50px 25px;
    align-content: center;
    background-color: #ffbbb7;
    grid-template-columns: repeat(4, 1fr);
}

.cards {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
    transition: all 2s;
}

.cards:hover {
    height: 400px;
    width: 400px;
}



/*contacto y shop*/



