/*mascarillas*/

.tipo-mascarilla {
    display: flex;
    margin: 10px;
    background-color: #ffbbb7;
}

.tipo-mascarilla h1 {
    margin: 20px;
}

.tipo-mascarilla img {
    display: flex;
    width: 500px;
}

.tipo-mascarilla p {
    margin: 20px;
}